{{#each solutions}}
<div class="high_score_item">
	<div class="high_score_item_solution">
		<div style="visibility:hidden"><code>{{solution}}</code></div>
		<div class="high_score_author">by {{author}}</div>
	</div>
	<div class="high_score_score">{{score}}</div>
</div>
{{/each}}

