<!DOCTYPE html>
<html>
	<head>
		<title>Vimgolf Social</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link href="/style.css" rel="stylesheet" type="text/css">
		<meta charset="UTF-8">
		<script src="/handlebars-v4.0.10.js" type="text/javascript"></script> 
		<script src="/jquery-3.2.1.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main_panel">
			<div class="instructions_panel">
				<h2>{{exercise_name}}</h2>
				<div>Start file:</div>
				<div><pre><code>{{exercise_start}}</code></pre></div>
				<div>End file:</div>
				<div><pre><code>{{exercise_end}}</code></pre></div>
			</div>
			<div class="high_scores_panel">
				<h2>Solutions:</h2>
				<div id="solutions-content-placeholder"/></div>
			</div>
		</div>
	</body>
</html>
<script>
	var websocket = new WebSocket('ws://' + window.location.host + window.location.pathname + '/solutions');
	console.log('ws://' + window.location.host + window.location.pathname + '/solutions');
	websocket.onmessage = function(event) {
		console.log(event.data);
		renderSolutions(JSON.parse(event.data));
	}
	function renderSolutions(data) {
		$.get('/solutions-template.hbs', function (source) {
			var template = Handlebars.compile(source);
			var result = template(data);
			$("#solutions-content-placeholder").html(result);
		}, 'html');
	}
</script>
